html,
body,
#container {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 10% 80% 10%;
  font-family: "Bebas Neue", "Times New Roman";
  color: #fff;
}

#head {
  background-color: rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(35px);
}

#container {
  background-image: url("images/take3.jpg") !important;
  background-size: auto 100%;
}

.list {
  border: 2px solid #000;
  height: auto;
  min-height: 50px;
  max-height: 250px;
  box-shadow: 5px 1px 4px 1px #000;
  overflow-y: scroll;
  color: #fff;
  background-color: rgba(17, 17, 17, 0.7);
  backdrop-filter: blur(20px);
}

.list::-webkit-scrollbar {
  display: none;
}

.list > div {
  height: 50px;
  align-items: center;
  transition: background-color 100ms;
}

.list > div:hover {
  background-color: rgba(54, 54, 54, 0.25);
}

h1 {
  margin: 0;
}

#container #head {
  background-color: #000;
}

#titleText {
  font-size: 6vh;
}

#container #foot {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  background-color: rgba(0, 0, 0, 0.80);
  backdrop-filter: blur(20px);
  color: #fff;
}

#settingsMenu {
  position: absolute;
  width: 90%;
  height: 60%;
  top: 20%;
  left: 5%;
  box-shadow: 0 0 10px #fff;
  border-radius: 4px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(20px);
  display: none;
  z-index: 2;
}

#settingsMenuOffset {
  width: 90%;
  height: 90%;
  position: relative;
  top: 5%;
  left: 5%;
}

#settingsHeader {
  width: 100%;
  height: 20%;
}

#settingsHeader h2 {
  font-size: 30px;
  text-align: center;
  border-bottom: 2px solid #000;
}

#pickColorPreferences {
  width: 100%;
  height: 20%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.colorChoice {
  display: grid;
  grid-template-rows: 50% 50%;
  text-align: center;
}

.colorChoice label h2 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
}

.colorChoice input {
  margin: auto;
}
