h2 {
  margin: 0;
}

#head {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

#head h1 {
  width: 80%;
  font-size: 50px;
  overflow-x: scroll;
}

#head h1::-webkit-scrollbar {
  display: none;
}

#body {
  overflow-y: scroll;
  padding: 50px 0;
  color: #fff;
}

#body::-webkit-scrollbar {
  display: none;
}

#profileLogoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin: auto;
}

#profileLogo {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  min-width: 100px;
  min-height: 100px;
  box-shadow: 0 0 20px rgb(163, 255, 243);
}

#games {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.title {
  font-size: 35px;
}

#gameList {
  width: 100%;
  height: auto;
  border: 2px solid #000;
  border-radius: 5px;
  overflow-y: scroll;
}

#gameList::-webkit-scrollbar {
  display: none;
}

.game {
  width: 80%;
  height: 75px;
  margin: 10px auto;
  border: 2px solid #000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-image 500ms;
  overflow: hidden;
  position: relative;
}

.game:hover {
  cursor: pointer;
}

.game:hover > .gameBackground > .bckStreak {
  right: 0%;
}

.gameBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 3, 32));
  z-index: 1;
}

.bckStreak {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgb(0, 67, 252), #000);
  right: 100%;
  transition: right 250ms ease-in-out;
}

.gameTitle {
  z-index: 2;
  color: #fff;
  font-size: 25px;
}

#teams {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

#teamList {
  width: 100%;
  height: auto;
  min-height: 40px;
  max-height: 200px;
  border: 2px solid #000;
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: scroll;
}

.team:last-child {
  border-bottom: none;
}

#teamList::-webkit-scrollbar {
  display: none;
}

.team {
  width: 100%;
  display: grid;
  grid-template-columns: 15% 75% 10%;
  height: 50px;
  border-bottom: 2px solid #fff;
}

.team a {
  color: #fff;
  text-decoration: none;
}

.teamLogoWrapper,
.more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.teamName {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 20px;
  font-size: 20px;
  overflow-x: hidden;
}

.teamLogo {
  width: 25px;
  height: 25px;
  border: 2px solid #000;
  border-radius: 100%;
}

#foot {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

#foot div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#foot #back {
  border-right: 2px solid #000;
  font-size: 35px;
}

#foot #vault {
  font-size: 25px;
  cursor: pointer;
}

#foot #vault:hover {
  font-size: 26px;
}

#foot #settings {
  border-left: 2px solid #000;
  font-size: 35px;
}

#foot i {
  cursor: pointer;
}

#foot i:hover {
  font-size: 38px;
}
