h4,
h3,
h2 {
  margin: 0;
}

input[type="password"]::-ms-reveal {
  display: none;
}

a {
  text-decoration: none;
  color: #000;
}

#container {
  background-image: url("images/take3.jpg");
  background-size: auto 100%;
}

#head {
  background: rgba(0, 0, 0, .3) !important;
  backdrop-filter: blur(15px);
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#body {
  width: 100%;
  overflow-y: scroll;
  color: #000;
}

#body::-webkit-scrollbar {
  display: none;
}

#errors {
  width: 80%;
  margin: auto;
  color: #9e1010;
  margin-top: 50px;
}

#content {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  position: relative;
}

.inputField {
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
}

.inputField .Title {
  text-align: left;
  margin-bottom: 5px;
  font-size: 35px;
  position: relative;
  color: #fff;
}

.inputField input {
  width: 100%;
  border-radius: 5px;
  height: 5vh;
  font-size: 25px;
  text-align: center;
  font-family: 'Courier', 'Times New Roman';
  font-weight: bold;
}

input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(86, 179, 255, 0.75);
}

.confirm {
  margin-bottom: 0;
}

#register {
  width: 80%;
  height: 100px;
  margin: auto;
  margin-top: 5px;
  display: grid;
  grid-template-rows: 50% 50%;
}

#register #altRoute {
  color: #fff;
  text-align: left;
  font-style: italic;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
  text-shadow: 0 0 10px #0066ff;
}

#register #signInBtn {
  margin: auto;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 25px;
  line-height: 50px;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.479);
  backdrop-filter: blur(20px);
  color: #fff;
  transition: background-color 200ms linear;
}

#register #signInBtn:hover {
  width: 52%;
  font-size: 26px;
  background-color: rgba(0, 0, 0, 0.726);
}

#options {
  width: 100%;
  text-align: center;
}

#options a {
  color: #000;
}

#registerBtn {
  margin: auto;
  border: 2px solid #fff;
  border-radius: 5px;
  width: 80%;
  font-size: 30px;
  padding: 10px 0;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.479);
  backdrop-filter: blur(20px);
  color: #fff;
  transition: background-color 200ms linear;
}

#registerBtn:hover {
  width: 82%;
  font-size: 31px;
  background-color: rgba(0, 0, 0, 0.726);
}

#foot {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  text-align: center;
  background: rgba(0, 0, 0, .5) !important;
  backdrop-filter: blur(15px);
  align-items: center;
}

#foot #backBtn {
  font-size: 40px;
  color: #fff;
  grid-column: 1/2;
}

#foot #backBtn {
  cursor: pointer;
  transition: text-shadow 200ms linear;
}

#backBtn:hover {
  text-shadow: 0 0 10px #0066ff;
}

.slideRight {
  animation: slideRight 250ms linear forwards;
}

@keyframes slideRight {
  from {
    left: 0%
  }
  to {
    left: 5%;
  }
}

.slideLeft {
  animation: slideLeft 250ms linear forwards;
}

@keyframes slideLeft {
  from {
    left: 5%;
  }
  to {
    left: 0%;
  }
}