h4,
h3,
h2 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

#container {
  width: 100%;
  height: 100%;
  background-image: url("images/take3.jpg");
  background-size: auto 100%;
}

#head {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .3) !important;
  backdrop-filter: blur(15px);
}

#head h1 {
  font-size: 50px;
}

#body {
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  position: relative;
}

.inputField {
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
}

.inputField .Title {
  margin-bottom: 5px;
  font-size: 35px;
  color: rgb(255, 255, 255);
  position: relative;
  text-align: left;
  transition: text-shadow 200ms ease-in;
}

input {
  opacity: .75;
  transition: opacity 200ms linear;
}

.slideRight {
  animation: slideRight 250ms linear forwards;
}

@keyframes slideRight {
  from {
    left: 0%
  }
  to {
    left: 5%;
  }
}

.slideLeft {
  animation: slideLeft 250ms linear forwards;
}

@keyframes slideLeft {
  from {
    left: 5%;
  }
  to {
    left: 0%;
  }
}



.inputField input {
  width: 100%;
  border-radius: 5px;
  height: 5vh;
  font-size: 25px;
  text-align: center;
}

input:focus {
  outline: none;
  opacity: 1;
}

#user:focus {
  box-shadow: 0 0 10px rgba(255, 86, 165, 0.75);
}

#pass:focus {
  box-shadow: 0 0 10px rgba(86, 179, 255, 0.75);
}

#register {
  width: 80%;
  height: 50px;
  margin: auto;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 60% 40%;
}

#register #title {
  color: #404040;
  text-align: left;
  font-style: italic;
  font-size: 25px;
  line-height: 50px;
}

#register #registerBtn {
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 25px;
  line-height: 50px;
}

#failedSignIn {
  margin-top: 50px;
  color: #9e1010;
}

#options {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  margin-bottom: 20px;
}

#options a {
  color: #000;
  cursor: pointer;
}

#options div {
  border-radius: 5px;
  width: 40%;
  font-size: 25px;
  padding: 10px 0;
  background-color: #000;
  position: relative;
  transition: transform 1000ms ease-in-out;
}

#options div h3 {
  backface-visibility: hidden;
}

#backBtn {
  float: left;
  cursor: pointer;
  color: #fff;
}

#options div:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #fff;
  transform: rotate3d(1, 0, 0, 360deg);
}

#backBtn:hover h3 {
  text-shadow: 0 5px 10px rgba(255, 86, 165, 0.75);
}

#signInBtn:hover h3 {
  text-shadow: 0 5px 10px rgba(86, 179, 255, 0.75);
}

#signInBtn {
  float: right;
  cursor: pointer;
  color: #fff;
}

#foot {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  text-align: center;
  background: rgba(0, 0, 0, .5) !important;
  backdrop-filter: blur(15px);
}

#foot div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#foot #backBtn,
#foot #settings {
  font-size: 40px;
}

#foot #vault {
  font-size: 25px;
}
