h2 {
  margin: 0;
}

#head {
  display: flex;
  justify-content: center;
  align-items: center;
}

#head h1 {
  font-size: 55px;
}

#body {
  position: relative;
  overflow-y: scroll;
  padding-bottom: 40px;
  color: #fff;
}

#body::-webkit-scrollbar {
  display: none;
}

#teamInfo {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

#teamInfo h1 {
  font-size: 50px;
}

#teamMembers {
  width: 80%;
  margin: auto;
  margin-top: 25px;
}

#membersTitle {
  font-size: 35px;
}

#memberList {
  background-color: rgba(0, 0, 0, 0.80) !important;
  border: 2px solid #fff;
  border-radius: 5px;
  overflow-y: scroll;
  height: auto;
  min-height: 50px;
  max-height: 200px;
  box-shadow: 2px 2px 3px #000;
  overflow-x: scroll;
}

#memberList::-webkit-scrollbar {
  display: none;
}

.teamMember {
  width: 150%;
  height: 50px;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  position: relative;
}

.teamMember:not(:last-child)::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 90%;
  height: 1px;
  border-color: #fff;
  box-shadow: 0 1px 2px #fff;
}

.teamMember:last-child {
  border-bottom: none;
}

.playerLogoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerLogo {
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

.playerName {
  display: flex;
  justify-content: left;
  align-items: center;
  overflow-x: hidden;
}

.teamMember a {
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: left;
  align-items: center;
}

.memberRank {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

#history {
  width: 80%;
  height: auto;
  margin: 50px auto;
}

#historyList {
  border: 2px solid #000;
  border-radius: 5px;
  overflow-y: scroll;
  height: auto;
  min-height: 50px;
  max-height: 200px;
  background-color: rgba(0, 0, 0, 0.80) !important;
  padding-top: 5px;
  padding-bottom: 5px;
}

#historyList::-webkit-scrollbar {
  display: none;
}

.historyItem {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(1fr, 10);
  grid-template-rows: repeat(1fr, 4);
  row-gap: 5px;
  position: relative;
  padding: 10px 0;
}

.historyItem:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 90%;
  height: 1px;
  border-color: #fff;
  box-shadow: 0 1px 2px #fff;
}

.historyItem div {
  width: 100%;
}

.matchDate,
.matchTime,
.separator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.matchDate,
.matchTime {
  overflow-x: hidden;
  grid-row: 1/2;
}

.matchDate {
  grid-column: 1/6;
  text-align: left;
}

.matchDate h2, .matchTime h2 {
  width: 100%;
}

.matchDate h2 {
  margin-left: 10px;
}

.matchTime h2 {
  margin-right: 10px;
}

.matchTime {
  grid-column: 6/11;
  text-align: right;
}

.team1 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  grid-row: 2/3;
  grid-column: 1/11;
}

.team1 i, .team2 i {
  margin-right: 10px;
  font-size: 15px;
  color: rgb(212, 166, 14);
  text-align: center;
}

.team1 h2 {
  text-align: center;
}

.separator {
  grid-row: 3/4;
  grid-column: 1/11;
}

.team2 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  grid-row: 4/5;
  grid-column: 1/11;
}

.team2 h2 {
  text-align: center;
}

#options {
  width: 80%;
  height: 50px;
  margin: auto;
  display: grid;
  grid-template-columns: 45% 10% 45%;
  font-size: 20px;
  border-radius: 2px;
}

#editTeam {
  grid-column: 1/2;
}

#invPlayer {
  grid-column: 3/4;
}

#invPlayer,
#editTeamBtn,
#finishBtn {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.80) !important;
  text-decoration: none;
  border: 2px solid #000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#invPlayer:hover,
#editTeamBtn:hover,
#finishBtn:hover {
  box-shadow: 0 0 10px rgb(61, 235, 226);
}

#finishBtn {
  width: 80%;
  height: 50px;
  margin: auto;
  margin-top: 50px;
}

#foot {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

#foot div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#foot #back {
  border-right: 2px solid #000;
  font-size: 35px;
}

#foot a {
  color: #000;
}

#foot #vault {
  font-size: 25px;
  cursor: pointer;
}

#foot #vault:hover {
  font-size: 26px;
}

#foot #settings {
  border-left: 2px solid #000;
  font-size: 35px;
}

#foot i {
  cursor: pointer;
}

#foot i:hover {
  font-size: 38px;
}
