h2,
h4 {
  margin: 0;
}

html::-webkit-scrollbar, #body::-webkit-scrollbar {
  display: none;
}

#head {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

#head h1 {
  font-size: 65px;
  color: #fff;
}

#body {
  overflow-y: scroll;
  color: #fff;
  position: relative;
}

#teams {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

#teams h2 {
  font-size: 35px;
  margin-bottom: 5px;
  color: #fff;
}

#teamList {
  border: 2px solid #000;
  height: auto;
  min-height: 50px;
  max-height: 200px;
  border-radius: 5px;
  overflow-x: scroll;
  background-color: rgba(0, 0, 0, 0.70) !important;
}

#teamList::-webkit-scrollbar {
  display: none;
}

.team {
  height: 50px;
  width: 150%;
  display: grid;
  grid-template-columns: 10% 40% 20% 20% 10%;
  border-bottom: 2px solid #000;
}

.teamLogoWrapper,
.teamName,
.teamWon,
.teamLost {
  font-size: 20px;
}

.teamLogo {
  width: 25px;
  height: 25px;
  box-shadow: 0 0 5px rgb(144, 250, 250);
  border-radius: 100%;
}

.team a {
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 10px;
  transition: text-shadow 50ms linear;
}

.team a:hover {
  text-shadow: 0 0 5px rgb(144, 250, 250);
}

.teamLogoWrapper,
.teamWon,
.teamLost,
.more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.more i {
  cursor: pointer;
}

#createTeam {
  border: 2px solid #000;
  border-radius: 2px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  bottom: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.70) !important;
}

#createTeam:hover {
  box-shadow: 0 0 5px rgb(144, 250, 250);
}

#createTeam a {
  color: #000;
  text-decoration: none;
}

#createTeam h2 {
  font-size: 35px;
  color: #fff;
}

#foot {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  background-color: #000;
  color: #fff;
}

#foot div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#foot #back {
  border-right: 2px solid #fff;
  font-size: 35px;
}

#foot a {
  color: #fff;
}

#foot #vault {
  font-size: 25px;
  cursor: pointer;
}

#foot #vault:hover {
  font-size: 26px;
}

#foot #settingsBtn {
  border-left: 2px solid #fff;
  font-size: 35px;
}

#foot i {
  cursor: pointer;
}

#foot i:hover {
  font-size: 38px;
}
