html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

h2 {
  margin: 0;
}

#container {
  width: 100%;
  height: 100%;
  background-image: url('../images/take3.jpg');
  background-size: 100%;
}

#head {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tournamentName {
  color: #fff;
  font-size: 45px;
  width: 90%;
  height: 80%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  text-shadow: 0 0 20px rgb(28, 69, 158);
}

.body1,
.body2 {
  width: 100%;
  height: 70%;
  overflow-y: scroll;
  display: none;
}

.body1::-webkit-scrollbar,
.body2::-webkit-scrollbar {
  display: none;
}

.round {
  width: 80%;
  margin: auto;
  margin-bottom: 100px;
  z-index: 1;
}

.round:last-child {
  margin-bottom: 300px;
}

.roundNumber {
  height: 50px;
}

.roundNumber h2 {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 35px;
}

.matchList::-webkit-scrollbar {
  display: none;
}

.matchWrapper {
  position: relative;
  margin-bottom: 10px;
  border: 2px solid #fff;
}

.match {
  height: 50px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.70) !important;
  backdrop-filter: blur(5px);
  z-index: 3;
}

.match:last-child {
  margin-bottom: 0px;
}

.match:not(.matchOptions):hover{
  cursor: pointer;
  box-shadow: 0px 0px 10px rgb(244, 159, 255);
}

.matchDetails {
  padding-top: 15px;
  width: 100%;
  height: 500%;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 5px;
  top: -2px;
  left: -2px;
  position: absolute;
  display: none;
  z-index: 3;
  color: #fff;
}

.matchDetails:hover {
  cursor: default;
}

.closeDets {
  transition: transform 500ms, color 500ms ease-in;
}

.closeDets:hover {
  transform: rotateZ(90deg);
  color: rgb(197, 33, 74);
}

.matchDetailsA {
  width: 100%;
  height: 30%;
  display: grid;
  grid-template-columns: 40% 40% 20%;
}

.matchDetailsA div {
  
}

.matchDetailsA div h2 {
  text-align: center;
  font-size: 20px;
}

.closeDetails {
  width: 100%;
  text-align: center;
  font-size: 25px;
}

.closeDetails i:hover {
  cursor: pointer;
}

.matchTime {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(1fr, 3);
}

.matchDetailsB {
  width: 100%;
  height: 70%;
  display: grid;
  grid-template-rows: 50% 50%;
}

.matchDetailsBTitle {
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
}

.matchDetailsBTitle h2 i {
  color: rgb(238, 255, 0);
}

.matchDetailsBTeam {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 25px;
  text-shadow: 0 0 5px rgb(233, 233, 233);
}

.player {
  overflow: hidden;
  width: 50%;
  height: 100%;
}

.playerA {
  float: left;
}

.playerB {
  float: right;
}

.playerA h2,
.playerB h2 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.player:first-child {
  border-right: 2px solid #fff;
}

.playerName {
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.body2 {
  text-align: center;
}

.body2 a {
  text-decoration: none;
}

#pendingStatusTitle {
  color: #fff;
  font-size: 40px;
  margin-bottom: 50px;
  text-shadow: 0 0 10px rgb(208, 88, 255);
  margin-top: 50px;
}

#joinBtn {
  border: 2px solid #fff;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  margin: auto;
  margin-top: 50px;
}

#startBtn {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  width: 250px;
  height: 50px;
  margin: auto;
  margin-top: 50px;
  top: 50px;
}

#joinBtn:hover {
  cursor: pointer;
  box-shadow: 0 2px 10px rgb(85, 46, 224);
}

#startBtn:hover {
  cursor: pointer;
  box-shadow: 0 2px 10px rgb(239, 116, 255);
}

#joinBtn h2,
#startBtn h2 {
  color: #fff;
  font-size: 25px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#foot {
  width: 100%;
  height: 10%;
}

#backBtn {
  width: 20%;
  height: 100%;
  float: left;
  text-align: center;
}

#backBtn i {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 25px;
}

#backBtn i:hover {
  cursor: pointer;
  text-shadow: 0 2px 10px rgb(85, 46, 224);
}

.matchOptions {
  opacity: 0;
  position: absolute;
  top: 0;
  left: -2px;
  width: 15%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.70) !important;
  backdrop-filter: blur(5px);
  z-index: 2;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  transition: opacity 500ms, top 500ms;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: width 200ms, top 200ms, opacity 200ms;
}

.matchOptions i {
  position: relative;
  color: #fff;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.matchOptions > i:hover {
  text-shadow: 0 0 10px rgb(46, 133, 204);
}

.optionsMenu {
  width: 85%;
  height: 100%;
  float: right;
  display: grid;
  grid-auto-flow: column;
}

.setChampion::before {
  color: rgb(218, 171, 17);
}

.setChampion::before:hover {
  cursor: pointer;
}